html
    head
        title Signup on my awesome website!
        //link(rel="stylesheet", href="/css/styles.css")
    body
        main
            h1 #{post.title}
            p #{post.content}
            if user
                form(action='/comment/' + post.id, method='post' )
                    div
                        label(for='commentaire') Commenter
                        input(id='commentaire' name='commentaire')
                        input(type='submit')
                form(method="post", action="/post/" + post.id + "/resolved")
                    button(type='submit') Résolu
            else
                a(href="/login") Ajouter un commentaire
            for comment in post.comments
                comment
                    h1 #{comment.user.name}: #{comment.commentaire} Le #{comment.createdAt}
