doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        title Signup on my awesome website!
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        link(rel="stylesheet", href="/css/home.css")
    body
        div(class="navbar")
            div(class="navbar-span")
                img(src="/icon/sent-mail.png")
                if user
                    a(href="/disconnect")
                        p Se deconnecter
                else
                    a(href="/login")
                        p Se connecter
                    a(href="/inscription")
                        p S'inscrire
                if user
                    if user.role === 'admin'
                        a(href="/user")
                            p Admin
                    else
                        p Your Tickets
                if user
                    a(href="/Overflow")
                        p Ajouter un poste
                else
                    a(href="/login")
                        p Ajouter un poste
            div(class="navbar-search flex")
                input(placeholder="Search")
                if user
                    a(href="/profil/" + user.id)
                        p #{user.name}

        div(class="container")
            h1 Features Questions
            div(class="container-img")
                div(class="container-left")
                    img(src="/icon/maxresdefault.jpg")
                    div(class="flex")
                        div(class="container-title")
                            h2 Designing in US
                            p United States
                        div(class="container-btn")
                            button Buy for $560
                div(class="container-right margin")
                    img(src="/icon/maxresdefault.jpg")
                    div(class="flex")
                        div(class="container-title")
                            h2 Designing in US
                            p United States
                        div(class="container-btn")
                            button Buy for $560
            div(class="container-list")
                h2 All Questions
                div(class="list-title")
                    p Title
                    p User
                    p Date
                div(class="list-ques")
                    for post in posts
                        post
                        div(class="block")
                            if user
                                a(href="/post/" + post.id)
                                    p #{post.title}
                            else
                                a(href="/login" )
                                    p #{post.title}
                            p #{post.user.name}
                            p #{post.createdAt}


